$superLightBlue: #e1e6e9;
$teal: rgb(30, 177, 188);

body {
	font-family: "Roboto", sans-serif;
	background-color: $superLightBlue;
 }

 div {
	animation: fadeInAnimation ease 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
 }

 @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
  
 button {
	border-radius: 5px;
	background-color: $teal;
	color: white;
	border: 1px solid white;
	font-size: 15px;
	font-weight: bold;
	padding: 5px;
	margin: 5px;

	&:hover{
		background-color: white;
		color: $teal;
		cursor: pointer;
		border: 1px solid $teal;
	}
 }

.login{
	display: flex;
	flex-direction: column;
	margin: auto;
	border: 1px solid gray;
	border-radius: 5px;
	width: 400px;
	height: 600px;
	padding: 20px;
	background-color: white;
	justify-content: center;
	align-items: center;
	
	button{
		margin-top: 20px;
		margin-bottom: 20px;
		padding: 20px 100px;
	}

	input{
		border: none;
		border-bottom: 1px solid gray;
		margin: 10px 0;
		width: 75%;
		height: 30px;
		padding-bottom: 10px;
	}

	a {
		color: $teal;
	}
}

.toolBar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: $teal;
	color: white;
	font-size: 20px;
	font-weight: bold;
}

.listContainer{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.list{
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: white;
	border: 1px solid gray;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;

	input{
		margin: 5px;
	}

	.buttonRow{
		display: flex;
		justify-content: space-evenly;
		width: 100%;
	}
}

.right-align{
	display:flex;
	justify-content:flex-end;
}
